@import './_colors.scss';

@mixin button {
        background-color: #0a4c63;
        border: transparent;
        border-radius: 2vw;
        width: 17vw;
        padding: 1vw;
        color: white;
        font-size: 1.1rem;
        margin: 2vw;
        cursor: pointer;
        &:hover {
          background-color: $regLogBlue;
        }
}
@mixin input {
  outline: none;
}
@mixin technique__item {
  width: 25%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: solid 0.1vw;
  border-color: rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  margin: 1vw;
}
@mixin card__ilustration {
    width: 10vw;
}
@mixin user__avatar {
  justify-content: center;
    width: 8vw;
    margin: 1vw;
    margin-bottom: 0;
    border-radius: 50%;
    border: solid 0.5vw $pinkLight;
    background-color: $pinkLight;
}
@mixin article__container{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5vw;
    margin: 2vw;
    padding: 1vw;
    background-color: rgba(254, 226, 202, 0.45);
    flex-wrap: wrap;
    width: 33%;
}
@mixin reviews__container {
  & img {
    justify-content: center;
    width: 8vw;
    margin: 1vw;
    margin-bottom: 0;
    border-radius: 50%;
    border: solid 0.5vw $pinkLight;
    background-color: $pinkLight;
  }
  & article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blue;
    margin: 2vw;
    margin-bottom: 0;
    border-radius: 1.5vw;
    border: solid 0.5vw $pinkLight;
  }
  & h3 {
    font-size: 3vw;
    text-align: center;
  }
}
@mixin reviews__cards {
  display: flex;
  flex-direction: column;
  & div {
    margin: 0.5vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  & h4,
  p {
    background-color: $aquaHeader;
    margin: 1vw;
    padding: 0.3vw 1vw 0.3vw 1vw;
    border-radius: 0.5vw 1.5vw 0.5vw 1.5vw;
    text-align: center;
  }
}